# Dependencies
/node_modules
/npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.test

# Testing
/coverage
/.nyc_output

# Production
/build
/dist
/public/assets # adjust this if you have static assets you want to track

# Misc
.DS_Store
*.log
npm-shrinkwrap.json
package-lock.json